<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.application.query.proforma.invoice.mapper.ProformaInvoiceQueryMapper">
        <select id="searchList" resultType="com.example.demo.application.proforma.invoice.dto.InvoiceSearchItemDTO">
            select id,invoice_no,consumer_name
            from t_proforma_invoice
            <if test="searchRequest.invoiceNo != null">
                where invoice_no = #{searchRequest.invoiceNo}
            </if>
        </select>
</mapper>